# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- Common libraries used by Data Scientists
- Tools used by Data Scientists
- Few examples of evaluating arithmetic expression in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow
4. Matplotlib
5. Plotly

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Pycharm |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Fahd Mohamed Neamathulla